$cardColor: white;

.box {
//   background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
//   align-items: center;
  padding: 0;
  margin: 0;
}

.card {
  background-color: $cardColor;
  width: 360px;

  margin: 0.6rem;
}
