@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');



$bgColor: #e3e0d8;


body {
    
    background-color: $bgColor;
    font-family: 'Roboto', sans-serif;
  
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    
  }

  .wrapper {
      align-items: center;
  }


  .title {
      padding: 0.6rem;
  }

  