
$bgColor: #e3e0d8;


body {
    
    background-color: $bgColor;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
  }

  .wrapper {
      align-items: center;
  }
